<!-- contact section start -->

<section class="contact" id="contact">

    <h1 class="heading">contáctanos</h1>

    <div class="row">

        <form action="">
            <div class="inputBox">
                <input type="text" required>
                <label>nombre</label>
            </div>

            <div class="inputBox">
                <input type="email" required>
                <label>email</label>
            </div>

            <div class="inputBox">
                <input type="number" required>
                <label>teléfono</label>
            </div>

            <div class="inputBox">
                <textarea required name="" id="" cols="30" rows="10"></textarea>
                <label>mensaje</label>
            </div>

            <input type="submit" class="btn" value="enviar mensaje">

        </form>

        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471.84432797691676!2d-96.9684654692345!3d18.89796379435608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c4e4e40d65db91%3A0x231dda6f930e11f2!2sCiber%20y%20Papeler%C3%ADa!5e0!3m2!1ses-419!2smx!4v1738182019832!5m2!1ses-419!2smx" width="200px" height="480px" style="border-radius: 10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>
<!-- contact section end -->
