<!-- team section start-->

<section class="team" id="team">

    <h1 class="heading">nuestro equipo</h1>

    <div class="box-container">

        <div class="box">
            <img src="/team-1.png" alt="">
            <h3>Jesús Castillo</h3>
            <span>Desarrollador Web</span>
            <p>Encargado de diseñar, desarrollar y mantener sitios web, asegurando que sean funcionales, responsivos y estén optimizados para una excelente experiencia de usuario.</p>
            <div class="share">
                <a href="#" class="fab fa-facebook"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="/team-2.png" alt="">
            <h3>Michelle Paez</h3>
            <span>Especialista en Marketing Digital</span>
            <p>Responsable de crear y ejecutar estrategias de marketing digital, incluyendo SEO, SEM, redes sociales y campañas de publicidad online, para aumentar la visibilidad de los clientes.</p>
            <div class="share">
                <a href="#" class="fab fa-facebook"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="/team-3.png" alt="">
            <h3>Rebeca Valdivia</h3>
            <span>Gestor de Proyectos Digitales</span>
            <p>Responsable de coordinar y supervisar el desarrollo de proyectos digitales, asegurando que se cumplan los plazos, presupuestos y estándares de calidad. Actúa como puente entre los clientes y el equipo técnico, gestionando la comunicación y el flujo de trabajo.</p>
            <div class="share">
                <a href="#" class="fab fa-facebook"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="/team-4.png" alt="">
            <h3>Nicole Barran</h3>
            <span>Diseñador Gráfico</span>
            <p>Se encarga de crear los elementos visuales para los proyectos de la empresa, desde el diseño de sitios web hasta la creación de gráficos para campañas publicitarias y contenido en redes sociales.</p>
            <div class="share">
                <a href="#" class="fab fa-facebook"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="/team-5.png" alt="">
            <h3>Danna Montiel</h3>
            <span>Consultor de Transformación Digital</span>
            <p>Ayuda a las empresas a adaptarse a las nuevas tecnologías y mejorar su infraestructura digital, ofreciendo soluciones personalizadas para optimizar procesos y aumentar la eficiencia operativa.</p>
            <div class="share">
                <a href="#" class="fab fa-facebook"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>
    </div>
</section>
<!-- team section end-->
