<!-- footer section start -->

<div class="footer" id="footer">
    
    <div class="box-container">

        <div class="box">
            <h3>acerca de nosotros</h3>
            <p>En Hyperion, somos un equipo de profesionales apasionados por la tecnología y el crecimiento digital. Ofrecemos soluciones innovadoras y personalizadas para ayudar a las empresas a mejorar su presencia en línea, optimizar procesos y maximizar su potencial. Trabajamos de la mano con nuestros clientes para hacer crecer sus negocios con enfoque estratégico y compromiso con la excelencia.</p>
        </div>

        <div class="box">
            <h3>enlaces rápidos</h3>
            <a href="#">inicio</a>
            <a href="#">características</a>
            <a href="#">servicios</a>
            <a href="#">project</a>
            <a href="#">equipo</a>
            <a href="#">precios</a>
            <a href="#">contacto</a>
        </div>

        <div class="box">
            <h3>categoría</h3>
            <a href="#">Desarrollo Web Personalizado</a>
            <a href="#">Marketing Digital Integral</a>
            <a href="#">Soporte y Mantenimiento continuo</a>
            <a href="#">Estrategias de comercio electrónico</a>
            <a href="#">seo marketing</a>
        </div>

        <div class="box">
            <h3>Síguenos</h3>
            <a href="#">facebook</a>
            <a href="#">twitter</a>
            <a href="#">instagram</a>
            <a href="#">linkedin</a>
        </div>

    </div>

    <h1 class="credit"> copyright by <a href="#"> Zonick von Mauss </a> 2025 </h1>

</div>
<!-- footer section end -->