<!-- header section start -->
<header>

    <img src="/logo-2.png" class="logo-img" alt="">
    <a [routerLink]="['/home']" class="logo">Bitnova</a>

    <div id="menu-bar" class="fas fa-bars"></div>

    <nav class="navbar">
        <a style="--i:0" [routerLink]="['/home']">inicio</a>
        <a [routerLink]="['/feature']">características</a>
        <a [routerLink]="['/service']">servicios</a>
        <a [routerLink]="['/project']">project</a>
        <a [routerLink]="['/team']">equipo</a>
        <a [routerLink]="['/prices']">precios</a>
        <a [routerLink]="['/contact']">contacto</a>
    </nav>

</header>

<!-- header section end -->
