<!-- features section start -->

<section class="feature" id="feature">

    <h1 class="heading">características impresionantes</h1>

    <div class="box-container">
        <div class="box">
            <img src="/feature-1.png" alt="">
            <h3>Desarrollo Web Personalizado</h3>
            <p>Creamos sitios web a medida</p>
            <a href="#" class="btn">leer más</a>
        </div>

        <div class="box">
            <img src="/feature-2.png" alt="">
            <h3>Marketing Digital Integral</h3>
            <p>Ofrecemos estrategias de marketing digital completas</p>
            <a href="#" class="btn">leer más</a>
        </div>

        <div class="box">
            <img src="/feature-3.png" alt="">
            <h3>Soporte y Mantenimiento Continuo</h3>
            <p>Mantenimiento y soporte continuo</p>
            <a href="#" class="btn">leer más</a>
        </div>

        <div class="box">
            <img src="/feature-4.png" alt="">
            <h3>Estrategias de Comercio Electrónico</h3>
            <p>Soluciones de comercio electrónico adaptadas a tus necesidades</p>
            <a href="#" class="btn">leer más</a>
        </div>
    </div>
</section>
<!-- features section end -->
