    <div class="service" id="service">

    <h1 class="heading">nuestros servicios</h1>

    <div class="box-container">

        <div class="box">
            <img src="/service-1.png" alt="">
            <h3>Diseño y Desarrollo Web</h3>
            <p>Creación de sitios web responsivos, con diseño personalizado y optimización para mejorar la experiencia del usuario en cualquier dispositivo.</p>
            <a href="#" class="btn">leer más</a>
        </div>

        <div class="box">
            <img src="/service-2.png" alt="">
            <h3>SEO y Optimización de Contenidos</h3>
            <p>Estrategias de optimización para mejorar el posicionamiento en motores de búsqueda y aumentar la visibilidad de tu negocio en línea.</p>
            <a href="#" class="btn">leer más</a>
        </div>

        <div class="box">
            <img src="/service-3.png" alt="">
            <h3>Publicidad en Redes Sociales</h3>
            <p>Gestión y creación de campañas publicitarias en plataformas como Facebook, Instagram y LinkedIn para aumentar el alcance y atraer más clientes.</p>
            <a href="#" class="btn">leer más</a>
        </div>

        <div class="box">
            <img src="/service-4.png" alt="">
            <h3>Desarrollo de Tiendas en Línea</h3>
            <p>Creación y configuración de plataformas de comercio electrónico, con sistemas de pago seguros, diseño atractivo y funcionalidad optimizada.</p>
            <a href="#" class="btn">leer más</a>
        </div>
        
        <div class="box">
            <img src="/service-5.png" alt="">
            <h3>Marketing por Correo Electrónico</h3>
            <p>Diseño y ejecución de campañas de email marketing para fidelizar clientes, generar ventas recurrentes y mantener a tu audiencia informada.</p>
            <a href="#" class="btn">leer más</a>
        </div>

        <div class="box">
            <img src="/service-6.png" alt="">
            <h3>Consultoría en Transformación Digital</h3>
            <p>Asesoramiento para implementar soluciones digitales que mejoren la eficiencia operativa y ayuden a tu negocio a adaptarse a los cambios tecnológicos.</p>
            <a href="#" class="btn">leer más</a>
        </div>

        </div>
    </div>